_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.env
vendor
node_modules
assets/uswds
assets/fonts/source-sans-pro
assets/fonts/roboto-mono
assets/fonts/merriweather
assets/fonts/public-sans
.DS_Store

