<footer class="usa-section--dark bg-base-darkest padding-bottom-6" role="contentinfo">
  <div
    class="footer-section-bottom usa-media-block__footer grid-row display-flex flex-align-center padding-y-4"
  >
    {% for link in site.data.navigation.footer %}
      <a href="{% unless link.isExternal %}{{ site.baseurl }}/{% endunless %}{{ link.href }}"
        class="border-base-dark
          {% unless forloop.first %} border-left padding-left-2 {% endunless %}
          {% unless forloop.last %} padding-right-2 {% endunless %}
        "
      >{{ link.text }}</a>
    {% endfor %}
  </div>
</footer>
