<section id="coil-team" class="coil-section usa-section--dark bg-base-darkest">
  <div class="grid-container">
    <div>
      <img class="abstract-icon"
      src="{{site.baseurl}}/assets/img/icons/icon_meet-the-team.svg" alt="" data-proofer-ignore>
    </div>
    <h2 id="meet-the-team">Meet the Team</h2>
    <div class="grid-row grid-gap">
      {% assign orderedPeople = site.data.coil_people | sort: "name" %}

      {% for item in orderedPeople %}
        <div class="coil-bio text-center">
          {% assign src="team/" | append: item.img %}
          {% include image.html src=src alt="A picture of a smiling COIL team member" class="coil-bio__image" %}
          <div class="coil-bio__text">
            <h3>{{ item.name }}</h3>
            {% if item.title %}
              <p>{{ item.title | upcase }}</p>
            {% endif %}
            <p>
              <a class="coil-bio__email" href="mailto:{{ item.email }}">{{ item.email }}</a>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>