.dark-link {
  &:not(.usa-button) {
    text-decoration: none;
    color: color("black");
    &:hover, &:focus {
      text-decoration: underline;
    }
    &:visited, &:hover, &:focus {
      color: color("black");
    }
  }
}

@mixin dark-links {
  a {
    @extend .dark-link;
  }
}

.white-link {
  &:not(.usa-button) {
    color: color("white");
    &:visited {
      color: color("white");
    }
    &:hover, &:focus {
      color: color("primary-lighter")
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
@mixin white-links{
  a {
    @extend .white-link;
  }
}